<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

<!--<a routerLink="/member">Member</a> <br>
<a routerLink="/product">Product</a>

<router-outlet></router-outlet>
<br> 
{{obj.name}}

<p>{{arr[0]}}</p>
<p>{{arr[1]}}</p>
<p>{{arr[2]}}</p>

<ul>
  <li *ngFor = "let i of arr">{{i}}</li>
</ul>

<p *ngIf= "isTrue" >Simple If True</p>
<p *ngIf= "isTrue; then firstTemp else secondTemp" >IfElse Condition</p>

<ng-template #firstTemp>This is a first Template</ng-template>
<ng-template #secondTemp>This is a second Template</ng-template>

<p *ngIf="myName == 'Babar'">Bk</p> -->

</div>


